html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	background-color: #000;
}

@keyframes rainbowAnimation {
	0% {
		--sound-color: red;
	}

	25% {
		--sound-color: yellow;
	}

	50% {
		--sound-color: green;
	}

	75% {
		--sound-color: blue;
	}

	100% {
		--sound-color: purple;
	}
}

body {
	animation: rainbowAnimation 30s infinite;
	background: center / 300px 150px space paint(sound), paint(sound);
}